div{
    height: 100px;
    width: 100px;
    background-color: rgb(139, 27, 27);
    border: 2px solid rgb(23, 163, 145) ;
    text-align: left;
    /* border-radius: 25px; */
    padding-left: 25px;
    padding-right: 25px;
} 